{%- if site.google_analytics -%}
    <div class="modal fade" id="cookieConsentModal" tabindex="-1" aria-labelledby="cookieConsentLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-sm d-flex justify-content-center">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title text-primary" id="cookieConsentLabel">
                        {{ site.cookies.title }}
                    </h5>
                </div>
                <div class="modal-body p-4">
                    {{ site.cookies.text }}
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary" id="acceptCookies">
                        {{ site.cookies.button_accept }}
                    </button>
                    <button type="button" class="btn btn-secondary" id="declineCookies">
                        {{ site.cookies.button_decline }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}